// font mixin
@mixin fonts($f-size, $color: null, $f-weight: null) {
    font-size: $f-size;
    color: $color;
    font-weight: $f-weight;  
}

// display mixin
@mixin display($margin, $padding, $display: null) {
    margin: $margin;
    padding: $padding;
    display: $display;
}    
    
   
// media query mixin
@mixin bp($point) {
    
   @if $point == medium {
      @media screen and (min-width: $bp-medium) { @content; }   
   } @else if $point == large {
      @media screen and (min-width: $bp-large) { @content; } 
   }
}