// Font variables

$font--primary: 'Raleway', 'sans-serif';
$font--secondary: 'Josefin Slab', 'serif';

// Color variables

$fresh-eggplant: #800080;
$pink-lace: #ffe6ff;
$mine-shaft: #333;
$cream: #ffffcc;

// Media Query Variables

$bp-medium: 768px;
$bp-large: 1024px;


