//Top Border Placeholder
%t-border {
  border-top: solid 2px $fresh-eggplant;
}

.main {
  @extend %t-border;
}

.gallery {
  @include bp(medium) {
    @extend %flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  li {
    margin-bottom: 20px;
    @include bp(medium) {
      max-width: 45%;
    }
    @include bp(large) {
      max-width: 30%;
    }
  }
  
  h3 {
    @include fonts (1.25em);
  }
  
  p {
    @include fonts(.9em);
    @include display(null, 0 10px);
  }
}


